// Body

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: $background-color;

  font-family: "IPAmj明朝", "IPAmjMincho", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ＭＳ 明朝", "MS Mincho", serif;
  @include font-smoothing(on);
}

@include establish-baseline;

p {
  @include rhythm(0.5, 0.5, 0.5, 0.5);
}

// Scroll Down Notice
#scroll-down-notice {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3em;

  color: $primary-color;

  text-align: center;
  text-transform: uppercase;

  &:after {
    content: "";
    position: absolute;
    top: 2em;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -1em;

    border: 1em solid transparent;
    border-top: 1em solid $primary-color;
  }
}
