/* UI Elements */

@import "mixins";

//**
// Display: none
//**

.hide {
  display: none;
}

//**
// Font Case
//**

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text-normal {
  font-weight: normal;
}

//**
// Page
//**

.page {
  margin-top: 2em;

  @extend .clearfix;

  header {
    text-align: center;
  }
}

//**
// Color Block
//**

.color-block {
  color: $secondary-color;
  background: $base-color;

  a {
    color: $secondary-color;
  }
}

//**
// Border Radius
//**

// +ellipse
.ellipse {
  @include border-radius(50%);
}

// +Round
.round {
  @include border-radius($border-radius);
}

//**
// Top/Bottom Arow
//**

$arrows: top bottom;
$arrow-size: 20px;

@each $direction in $arrows {
  .#{$direction}-arrow {
    padding-top: $arrow-size * 2;
    position: relative;

    &:after {
      content: " ";

      position: absolute;
      top: 0%;
      left: 50%;

      margin-left: -$arrow-size;

      @include make-arrow($direction, $arrow-size, $base-color);
    }
  }
}

//**
// Label
//**

.label {
  color: $secondary-color;
  background: $base-color;

  padding: .25em .5em;
}

.label-dark {
  @extend .label;

  background: $dark-color;
}

.label-light {
  @extend .label;

  color: $dark-color;
  background: $secondary-color;
}

//**
// Small Title
//**

.small-title {
  font-size: .75em;
}
