/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/**
 * Mixins
 */

@import "mixin";

/**
 * Font
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import "font";

/**
 * Basic
 */

html {
  font-size: 12px;
}

body {
  background: #DEDDE2;

  font-family: "微軟正黑體", "Helvetica Neue", "Helvetica", Helvetica, "Apple LiGothic", Arial, sans-serif;
  color: #2B2320;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "微軟正黑體", "Apple LiGothic", sans-serif;
  font-weight: normal;
}

/**
 * Loading Bar
 */

#loadingBar {
  background: #FFF;

  position: absolute;
  top: 50%;

  width: 0%;
  height: 1px;

  z-index: -999;

  .innerBG {
    background: image-url("header_bg.jpg") center no-repeat;

    display: none;

    height: 100%;
  }
}

/**
 * Responsive Grid System
 */

@include makeGrid(65px, 12, 20px);

/**
 * Header & Footer
 */

header[role="header"] {
  font-family: "Open Sans", sans-serif;
  text-align: center;

  h1 {
    font-size: 36px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 54px;
    line-height: 4.5rem;

    margin: 18px auto;
    margin: 1.5rem auto;
  }
}

footer[role="footer"] {
  background: #2b2320;

  text-align: right;
  color: #FFF;

  padding: 4em 0;
  margin-top: 2em;

  .copyright {
    width: 1000px;

    margin: 0 auto;

    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: .15em;
  }
}

/**
 * Back to Top
 */

#backTop {
  display: none;

  position: fixed;
  right: 25px;
  bottom: 25px;

  z-index: 999;

  a {
    background: rgba(43, 35, 32, .8);

    font-family: "icomoon";
    font-size: 24px;
    font-size: 2rem;
    text-decoration: none;
    color: #FFF;

    padding: .5em;

    border: 1px solid rgba(222, 221, 226, .8);
    border-radius: 5px;

    &:hover {
      background: #2B2320;
    }
  }
}

/**
 * Navigation
 */

nav[role="mainMenu"] {
  background: rgba(0, 0, 0, .5);

  font-weight: 300;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #FFF;

  padding: 1em 0;

  h2 {
    font-size: 14px;
    font-size: 12px;
    font-size: 1rem;
    font-weight: 300;
    display: inline;
  }

  .split {
    font-size: 9px;
    font-size: .75rem;
    font-weight: 300;
    color: adjust-lightness(black, 50%);

    margin: 0 .5em;
  }

  ul {
    display: inline;

    padding: 0;
  }

  li {
    display: inline;

    margin-left: .5em;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: #BBB;
    text-decoration: none;

    &:hover {
      color: #FFF;
    }
  }
}

/**
 * Main Frame
 */

#mainFrame {
  width: 100%;
  margin: 0 auto;

  position: absolute;
  top: 50%;
}

#wrapper {
  width: 1000px;
  height: 100%;

  margin: 0 auto;

  position: relative;
}

/**
 * Global Element
 */

.page {
  margin-top: 24px;
  margin-top: 2rem;

  h2 {
    text-transform: uppercase;
  }
}

/**
 * Home
 */

#home {
  background: rgba(43, 35, 32, 1);

  width: 32em;
  height: 60px;

  margin: 0 auto;
  margin-top: -30px;

  text-align: center;

  position: relative;

  h2 {
    font-size: 24px;
    font-size: 2rem;
    line-height: 60px;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFF;

    display: inline;

    small {
      color: adjust-lightness(#2B2320, 50%);
      line-height: 60px;
    }
  }
}

#rbCover {
  background: image-url("right_bottom_cover.png") no-repeat center center;

  position: absolute;
  right: 0;
  bottom: 0;

  width: 30px;
  height: 30px;
}

/**
 * Page About
 */

#about {

  .avatar {
    width: 200px;

    margin: 0 auto;

    img {
      border-radius: 50%;
    }
  }

  .split {
    display: block;

    font-family: "Open Sans", sans-serif;
    font-size: 100px;
    font-weight: 300;
    line-height: 200px;
    text-align: center;
    color: adjust-lightness(black, 70%);
  }

  p {
    letter-spacing: .25em;
    line-height: 1.5em;
  }
}

/**
 * Page Skills
 */

#skills {

  h3 {
    display: inline;

    font-size: 12px;
    font-size: 1rem;
  }

  .skillBar {
    display: inline-block;

    width: 50%;
    height: 14px;

    background: #7AA3BF;

    padding: 2px;

    border-radius: 5px;

    float: right;

    .inner {
      background: #B1C3D1;

      border-radius: 3px;

      height: 12px;
      height: 100%;
    }
  }

  .split {
    margin-right: 1.5em;

    font-size: 9px;
    font-size: .75rem;
    color: adjust-lightness(black, 80%);
  }
}

/**
 * Portfolio
 */

#portfolio {
  .picture {
    width: 200px;
    height: 125px;

    overflow: hidden;

    margin: 0 auto;

    img {
      max-width: 250px;
      height: auto;
    }
  }

  .meta {
    text-align: center;

    margin: .5em auto;

    .split {
      color: adjust-lightness(black, 80%);

      margin: 0 .5em;
    }

    .name {
      font-weight: bold;
    }
  }
}

/**
 * Contact
 */

#contact {
  h3 {
    display: inline;
    font-size: 12px;
    font-size: 1rem;
  }

  .split {
    color: adjust-lightness(black, 80%);
    margin-right: 1.5em;
  }

  a {
    color: #7AA3BF;
    font-family: 'icomoon';
    font-size: 14px;
    font-size: 1.16666rem;
    text-decoration: none;

    float: right;

    &:hover {
      color: #477BA0;
    }
  }

}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
