@import "mixin";

/**
 * Responsive Design
 */

@media (max-width: 979px) {

  #wrapper {
    width: 96%;
  }

  footer[role="footer"] {
    .copyright {
      width: 96%;
    }
  }

  #backTop {

    right: 15px;
    bottom: 15px;

    a {
      font-size: 14px;
      font-size: 1.166666rem;

      padding: .25em;
    }
  }

  /**
   * Grid
   */

  @include makeMobileGrid(8, 20px);
}

@media (max-width: 767px) {

  /**
   * Grid
   */

  @include makeMobileGrid(4, 20px);

  /**
   * Page Home
   */

  #home {
    margin-top: -20px;

    width: 22em;
    height: 40px;

    h2 {
      font-size: 18px;
      font-size: 1.5rem;
      line-height: 40px;

      small {
        line-height: 40px;
      }
    }
  }

  #rbCover {
    width: 15px;
    height: 15px;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  #home {
    margin-top: -5px;
  }
}

@media (max-width: 480px) {

  /**
   * Navigation
   */

  nav[role="mainMenu"] {
    h2 {
      display: block;
    }

    .split {
      display: none;
    }

    ul {
      display: block;
    }
  }
}
