/ Library
= javascript_include_tag "/bower_components/zepto/zepto.min.js"
= javascript_include_tag "/bower_components/sections.js/dist/sectionsjs.min"

/ Project
= javascript_include_tag "main"
= javascript_include_tag "parallax"
