// Home Layout

#nickname{

  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;

  h1 {
    @include adjust-font-size-to(100px, 4, 32px);
    @include rhythm(1, 1, 1, 0, 100px);
  }
  h2 {
    @include adjust-font-size-to(36px, 1.5, 24px);
    @include rhythm(1, 1, 1, 0, 36px);
  }

  .block {
    display: inline-block;
    padding-right: 32px;
    padding-left: 32px;

    color: white;
    font-weight: normal;

    background: $primary-color;
    background: rgba($primary-color, .9);
  }
}

#logo-full {
  position: absolute;
  top: -50%;
  bottom: 0;
  left: -50%;
  right: 0;

  @include replace-text-with-svg("logo-full");

  width: 200%;
  height: 200%;

  @include at-breakpoint($ipad) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
