<section id="about" class="page">
  <header class="hide">
    <h2>About</h2>
  </header>
  <div id="avatar">
    <img src="http://www.gravatar.com/avatar/888339de9e7a88688b6acb30d33e66cd?s=200" alt="蒼時弦也" class="ellipse" />
  </div>
  <div id="self-intro" class="top-arrow clearfix">
    <article class="color-block clearfix round">
      <header>
        <h2>蒼時弦也 <span class="small-title">/ Wade</span></h2>
      </header>
      <p>
        資訊、設計，大概就是我生命中最為重要的元素。自從父親給予的電腦雜誌開始了網站架設的旅程，在這過程中不斷的摸索。最後尋找到多媒體這一個能夠同時享受資訊與設計結合的領域，平常會嘗試做一些小遊戲或網頁設計。大部份的時間都在看書或者練習各種專業技能。
      </p>
      <div class="meta">
        <h3>About</h3>
        <span class="label-light round">Ming Chung University, Digital Media Design</span>
        <span class="label-light round">Gemini</span>
      </div>
      <div class="love">
        <h3>Loves</h3>
        <span class="label-light round">Web Design/Develop</span>
        <span class="label-light round">Animation</span>
        <span class="label-light round">Music</span>
        <span class="label-light round">Illustrate</span>
      </div>
    </article>
  </div>
</section>
