<section id="contact" class="page">
  <header>
    <h1 class="uppercase text-normal">Contact</h1>
  </header>
  <%
    contact_info = [
      {:type => "Plurk", :description => "平時主要的活動地點，僅接受已經認識或者有相同興趣的朋友。可以用私噗先進行簡單的交流。", :link => "http://plurk.com/elct9620"},
      {:type => "Facebook", :description => "現實生活圈的主要據點，基本上只接受見過面的人。", :link => "https://facebook.com/elct9620"},
      {:type => "Twitter", :description => "噗浪的分節點，大多數用於追蹤一些國外的設計師、工程師。", :link => "https://twitter.com/elct9620"},
      {:type => "Google Plus", :description => "還在拓展的小圈圈，目前並沒有太多的使用。", :link => "https://plus.google.com/u/0/117236344655673213049/posts"},
      {:type => "Github", :description => "程式作品主要放置的地點，可以發現許多炸掉的專案（疑？", :link => "https://github.com/elct9620"}
    ]

    contact_info.each do |contact|
  %>
  <article class="round">
    <header>
      <h2 class="text-normal"><%= contact[:type] %></h2>
    </header>
    <p>
      <%= contact[:description] %>
    </p>
    <div class="meta">Go to my <a href="<%= contact[:link] %>" target="_blank" class="label-light round"><%= contact[:type] %></a></div>
  </article>
  <%
    end
  %>
</section>
