<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ $sass := resources.Get "css/main.scss" }}
    {{
      $sassOptions := (dict
        "outputStyle" "compressed"
        "enableSourceMap" true
        "includePaths" (slice
          "node_modules/normalize.css"
          )
        )
    }}
    {{ $style := $sass | resources.ToCSS $sassOptions | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <header id="header">
      <img id="logo" src="{{ (resources.Get "images/logo.svg" | fingerprint).Permalink }}" />
    </header>
    {{ block "main" . }}
    {{ end }}
  </body>
</html>
