<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ .Site.Params.description }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head/style" . }}
    {{ partial "head/open_graph" . }}
  </head>
  <body>
    <header id="header">
      <img id="logo" class="logo" src="{{ (resources.Get "images/logo.svg" | fingerprint).Permalink }}" alt="{{ .Site.Title }}" />
    </header>
    <main id="main">
    {{ block "main" . }}
    {{ end }}
    </main>
    {{ partial "shared/justfont" }}
  </body>
</html>
