%section#about-me.section.transparent
  %article.container
    %header
      %h2.uppercase.centered About Me
    %p.centered.description 有著一半前端一半設計師血統，喜愛網頁設計。只要是網站相關的技術與知識都非常樂意學習，認為最快樂的事情就是享受製作網站的過程。
  %hr.container
  %article.container
    %header
      %h2.uppercase.centered Experiences
    %ul.timeline
      %li
        .right
          .flag
            %h4 二零一四
            %hr
          .detail
            .item
              %span.label 講師
              %span.label 文創組組長
              學生計算機年會
            .item
              %span.label 系統開發
              MOHO 雲端平台
            .item
              %span.label 工作人員
              台灣駭客年會 形象組
      %li
        .left
          .flag
            %h4 二零一三
            %hr
          .detail
            .item
              %span.label 網站組組長
              學生計算機年會
            .item
              %span.label 網站設計
              HackGen 駭客世代
            .item
              %span.label 實習生
              TEDxTaipei
      %li
        .right
          .flag
            %h4 二零一二
            %hr
          .detail
            .item
              %span.label 自由工作者
              WordPress 外包
