%section#contact.section
  %h2.uppercase.centered Contact
  .container.centered
    %a{:href => "http://fb.me/elct9620", :target => "_blank"}
      =image_tag "icons/Facebook.png"

    %a{:href => "https://twitter.com/elct9620", :target => "_blank"}
      =image_tag "icons/Twitter.png"

    %a{:href => "https://plus.google.com/u/0/117236344655673213049", :target => "_blank"}
      =image_tag "icons/Google.png"

    %a{:href => "https://www.behance.net/elct9620", :target => "_blank"}
      =image_tag "icons/Behance.png"

    .labeled-hr <span>OR</span>

    %a.uppercase.label{:href => "mailto: contact@frost.tw"} Email
    %a.uppercase.label{:href => "https://plurk.com/elct9620"} Plurk
    %a.uppercase.label{:href => "http://blog.frost.tw"} Blog
