%section#skills.section
  %header
    %h2.uppercase.centered Skills
  .container
    .left
      %h4.uppercase.align-right Design
      %hr
      :markdown
        - Illustrator <span class="score" data-score="4"></span>
        - Photoshop <span class="score" data-score="3"></span>
        - UI/UX <span class="score" data-score="3"></span>
        - Interactive Design <span class="score" data-score="2"></span>
    .right
      %h4.uppercase.align-right Front-End
      %hr
      :markdown
        - HTML <span class="score" data-score="4"></span>
        - CSS (Scss) <span class="score" data-score="4"></span>
        - JavaScript (CoffeeScript) <span class="score" data-score="3"></span>
        - AngularJS <span class="score" data-score="2"></span>
  .container
    .left
      %h4.uppercase.align-right Server-Side
      %hr
      :markdown
        - PHP <span class="score" data-score="3"></span>
        - Ruby <span class="score" data-score="2"></span>
        - Ruby on Rails <span class="score" data-score="2"></span>
        - MySQL <span class="score" data-score="2"></span>



