%section#skills.section
  %header
    %h2.uppercase.centered Skills
  .container
    .left
      %h4.uppercase.align-right Design
      %hr
      :markdown
        - Illustrator <span class="score" data-score="4"><span class="rank">Experienced</span></span>
        - Photoshop <span class="score" data-score="3"><span class="rank">Good</span></span>
        - UI/UX <span class="score" data-score="3"><span class="rank">Good</span></span>
        - Interactive Design <span class="score" data-score="2"><span class="rank">Not Bad</span></span>
    .right
      %h4.uppercase.align-right Front-End
      %hr
      :markdown
        - HTML <span class="score" data-score="4"><span class="rank">Experienced</span></span>
        - CSS (Scss) <span class="score" data-score="4"><span class="rank">Experienced</span></span>
        - JavaScript (CoffeeScript) <span class="score" data-score="3"><span class="rank">Good</span></span>
        - AngularJS <span class="score" data-score="2"><span class="rank">Not Bad</span></span>
  .container
    .left
      %h4.uppercase.align-right Server-Side
      %hr
      :markdown
        - PHP <span class="score" data-score="3"><span class="rank">Good</span></span>
        - Ruby <span class="score" data-score="2"><span class="rank">Not Bad</span></span>
        - Ruby on Rails <span class="score" data-score="2"><span class="rank">Not Bad</span></span>
        - MySQL <span class="score" data-score="2"><span class="rank">Not Bad</span></span>



