%section#works.section
  %h2.uppercase.centered Works
  %p.centered
    Below works will open a link into new tab.
  .container
    - works.each do |item|
      .item
        %a.wrapper{ :href => item["link"], :target => "_blank" }
          =image_tag "works/" + item["thumbnail"], :class => "thumbnail"
          .cover
            .time= item["time"]
            .description= item["description"]

