/**
 * Vendor
 */
@import "normalize";

/**
 * Modules
 */

@import "settings";
@import "breakpoints";
@import "animations";

/**
 * Base
 */

body {
  min-height: 100vh;

  background: $kon;
  color: $white;

  padding: 0 1rem;

  font-size: 16px;
  font-family: "creamfont", serif;
  font-display: swap;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jf-loading {
  .swap-font {
    opacity: 0;
  }
}

.jf-active {
  .swap-font {
    transition-duration: 1s;
    opacity: 1;
  }
}

/**
 * Header
 */

#header {
  margin-top: 3.5rem;
}

#logo {
  display: block;
  margin: 0 auto;

  max-width: 50%;

  @include breakpoint-up(sm) {
    max-width: 100%;
  }
}

/**
 * Profile
 */

.profile {
  display: inline-block;
  position: relative;

  margin-top: 4rem;
  margin-bottom: 4rem;

  @include breakpoint-up(md) {
    left: 50%;

    margin-top: 6rem;
    margin-bottom: 6rem;

    transform: translateX(-50%);
  }

  &__name, &__title {
    font-weight: normal;
  }

  &__name {
    display: inline-block;

    margin-top: 1.5rem 0 0;
    padding: 0.75rem 2.875rem;

    background: $gunJyo;
    font-size: 2rem;

    animation-name: name-shadow;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @include breakpoint-up(md) {
      margin: -3rem 0 0 16rem;

      font-size: 4rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin: 0;

    transition-delay: .5s;

    @include breakpoint-up(md) {
      margin: 1rem 0 0;
      margin-left: 16rem;
    }
  }

  &__avatar {
    img {
      max-width: 100%;
    }

    @include breakpoint-up(md) {
      float: left;

      min-width: 25rem;
      min-height: 25rem;
    }
  }

  &__group {
    clear: both;
    zoom: 1;
  }

  &__introduce {
    transition-delay: .5s;

    @include breakpoint-up(md) {
      max-width: 16rem;
      float: left;

      margin-top: 14rem;
      margin-left: 2rem;
    }
  }

  &__links {
    margin-top: .5rem;

    @include breakpoint-up(md) {
      margin-left: 16rem;
    }
  }

  &__link-item {
    margin-right: .5rem;
    vertical-align: middle;

    text-decoration: none;

    &:hover {
      color: $tamago;
    }
  }
}
