/**
 * Clear Fix
 */
/**
 * Grid Count
 */
/**
 * Responsive Design
 */
@media (max-width: 979px) {
  /* line 9, ../sass/responsive.scss */
  #wrapper {
    width: 96%;
  }

  /* line 14, ../sass/responsive.scss */
  footer[role="footer"] .copyright {
    width: 96%;
  }

  /* line 19, ../sass/responsive.scss */
  #backTop {
    right: 15px;
    bottom: 15px;
  }
  /* line 24, ../sass/responsive.scss */
  #backTop a {
    font-size: 14px;
    font-size: 1.166666rem;
    padding: .25em;
  }

  /**
   * Grid
   */
  /* line 47, ../sass/_mixin.scss */
  [class*="mobile"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 53, ../sass/_mixin.scss */
  [class*="span"] {
    margin-left: 0;
    padding-left: 20px;
  }

  /* line 58, ../sass/_mixin.scss */
  .mobileHide {
    display: none;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile1 {
    width: 12%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile2 {
    width: 24%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile3 {
    width: 36%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile4 {
    width: 48%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile5 {
    width: 60%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile6 {
    width: 72%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile7 {
    width: 84%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile8 {
    width: 96%;
  }
}
@media (max-width: 767px) {
  /**
   * Grid
   */
  /* line 47, ../sass/_mixin.scss */
  [class*="mobile"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 53, ../sass/_mixin.scss */
  [class*="span"] {
    margin-left: 0;
    padding-left: 20px;
  }

  /* line 58, ../sass/_mixin.scss */
  .mobileHide {
    display: none;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile1 {
    width: 24%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile2 {
    width: 48%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile3 {
    width: 72%;
  }

  /* line 65, ../sass/_mixin.scss */
  .mobile4 {
    width: 96%;
  }

  /**
   * Page Home
   */
  /* line 51, ../sass/responsive.scss */
  #home {
    margin-top: -20px;
    width: 22em;
    height: 40px;
  }
  /* line 57, ../sass/responsive.scss */
  #home h2 {
    font-size: 18px;
    font-size: 1.5rem;
    line-height: 40px;
  }
  /* line 62, ../sass/responsive.scss */
  #home h2 small {
    line-height: 40px;
  }

  /* line 68, ../sass/responsive.scss */
  #rbCover {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 76, ../sass/responsive.scss */
  #home {
    margin-top: -5px;
  }
}
@media (max-width: 480px) {
  /**
   * Navigation
   */
  /* line 88, ../sass/responsive.scss */
  nav[role="mainMenu"] h2 {
    display: block;
  }
  /* line 92, ../sass/responsive.scss */
  nav[role="mainMenu"] .split {
    display: none;
  }
  /* line 96, ../sass/responsive.scss */
  nav[role="mainMenu"] ul {
    display: block;
  }
}
